.MenuPage{
    display: flex;
    flex-direction: row;
}  

.containerProducts{
    display: flex;
    flex-direction: column;
    background-color: #4e5053;
    width: 95%;

}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.boxCard{
    margin: 10px;
    width: 8rem;
    height: 13rem;
    border-radius: 35px;
}

.imgCard{
    margin-left: 6px;
    margin-top: 10px;
}

.cardBody{
    line-height: 0.9; 
}

