
.menuOptions{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
   /*  display: flex;
    flex-wrap: wrap;
    justify-content: center; */
}

.card-header{
    font-size: 1rem;
}

.card-body {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.8rem
}